<div>
    <github_corner v-if="isVisible" :github_url='github_url' />
    <apptitle v-if="isVisible" :title='app_title'
        :subtitle='app_subtitle'></apptitle>
    <howtouse v-if="isVisible" :title='howto_title'
        :imgsrc='howto_imgsrc'>
        <ol>
            <li>Type the html code in the text area here below</li>
            <li>HTML code is automatically converted into markdown
            </li>
            <li>To copy the markdown code in the clipboard, just click
                on the Copy button in the bottom left</li>
        </ol>
    </howtouse>
    <editor @toggleVisibility="toggleVisibility"
        URL="https://www.marknotes.fr/docs/Windows/Changer%20son%20wallpaper.html" />
    <appfooter v-if="isVisible" />
</div>
